out/
.vs/
.vscode/
.idea/
tmp/
cmake-build-debug
cmake/FindDPP.cmake
build/
config.json
logging/dev/guild_logs.log
logging/dev/my_logs.log
logging/dev/others_logs.log
dev/dev/guild_logs.log
dev/dev/my_logs.log
dev/dev/others_logs.log
src/dev/jtc_vcs.txt
src/dev/jtc_default_values.txt
src/dev/temp.txt
src/dev/temp_vc_notifications.txt
release/dev/jtc_vcs.txt
release/dev/jtc_default_values.txt
release/dev/temp.txt
release/dev/temp_vc_notifications.txt
