[submodule "colorize"]
	path = colorize
	url = https://github.com/fengwang/colorize
[submodule "sqlite_modern_cpp"]
	path = sqlite_modern_cpp
	url = https://github.com/Henonicks/sqlite_modern_cpp
[submodule "cpp-linenoise"]
	path = cpp-linenoise
	url = https://github.com/Henonicks/cpp-linenoise
[submodule "Henifig"]
	path = Henifig
	url = https://github.com/Henonicks/Henifig
