out/
.vs/
.vscode/
.idea/
tmp/
cmake-build-debug
cmake/FindDPP.cmake
build/
config.json
logging/dev/guild_logs.log
logging/dev/my_logs.log
logging/dev/others_logs.log
src/dev/jtc_vcs.txt
src/dev/jtc_default_values.txt
src/dev/temp.txt
src/dev/temp_vc_notifications.txt
src/dev/no_temp_ping.txt
src/dev/no_noguild_reminder.txt
src/dev/topgg_guild_choices.txt
src/dev/topgg_guild_votes_amount.txt
src/dev/topgg_notifications.txt
logging/release/guild_logs.log
logging/release/my_logs.log
logging/release/others_logs.log
src/release/jtc_vcs.txt
src/release/jtc_default_values.txt
src/release/temp.txt
src/release/temp_vc_notifications.txt
src/release/no_temp_ping.txt
src/release/no_noguild_reminder.txt
src/release/topgg_guild_choices.txt
src/release/topgg_guild_votes_amount.txt
src/release/topgg_notifications.txt
